.teacher {
   margin-left: 5%;
}
.teacher2 {
    margin-left: 5%;
}
.lestitel1 {
    margin-left: 5%;

}
.lestitel2 {
    margin-left: 5%;
}
.labelcontent{
    margin-left: 5%;
}
.form-control z-depth-1{
    margin-left: 5%;
}
.form-group shadow-textarea{
    margin-left:1000000px;
}